table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgb(207, 207, 207);
}

th,
td {
  padding: 12px 20px;
}

th:first-child,
td:first-child {
  border-right: 1px solid rgb(207, 207, 207);
}

th {
  text-align: left;
  color: rgb(26, 26, 26);
}
